.thankyou_Wrapper{
    font-family: 'Libre Baskerville', serif;
  
}
.bg_color_dark{
    background-color: #262626;
}
.border_bottom{
    border-bottom: 3px solid #262626;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.left_row_thankyou{
    letter-spacing: 4px;
    line-height: 25px;
}