.logo {
  height: 60px;
  margin: 5px 0px px 5px !important;
}
.main-webnavbar {
  height: 100px;
  width: 100%;
}
.icon {
  font-size: 16px;
}
.icon-Hover:hover {
  fill: black !important;
  cursor: pointer;
}
.icon_name {
  font-size: 12px;
}
.nav-item {
  font-size: 18px !important;
  font-weight: 400;
}
.bottom_nav {
  background-color: #262626 !important;
  color: white !important;
  z-index: 100 !important;
  height: 60px !important;
}
.search-icon {
  margin-left: -20px;
  color: darkgray;
}
.categoryButton {
  text-align: center;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.categoryButton:hover {
  background-color: white !important;
  color: black !important;
}
.sticky_nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -45;
}
.search-bar {
  background-color: #f2f2f2 !important;
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
  width: auto !important;
  outline: none !important;
}
.position-relative {
  position: relative;
}
.cartnumber {
  background-color: #fe8273 !important ;
  border-radius: 50%;
  text-align: center;
  align-self: center;
  font-size: 10px;
  color: #f2f2f2;
  height: 15px;
  width: 15px;
  position: absolute;
  top: -8px;
  right: -8px;
}
.dropdownItem {
  background-color: transparent !important;
}
.dropdownMenu {
  z-index: 50 !important;
  /* padding: 10px; */
  background-color: white;
  width: 200px !important;
}
.dropdownItem:hover {
  background-color: rgba(26, 26, 26, 0.95) !important;
  color: white;
}
.searchBar_Wrapper {
  padding-bottom: 10px;
}
.authItem {
  transition: 0.4s;
}
.active {
  background-color: #fcb800;
  color: white;
}

.authItem:hover {
  color: #fcb800;
  background-color: white;
}
/* Media Queries */
@media (max-width: 1200px) {
  .nav-item {
    font-size: 15px !important;
    font-weight: 500;
  }
  .divider {
    width: 100% !important;
  }
}
@media (max-width: 990px) {
  .divider {
    width: 100% !important;
  }
  .nav-item {
    font-size: 11px !important;
    font-weight: 400;
    margin: 4px !important;
  }
}
@media (max-width: 767px) {
  .topNavbar {
    display: none !important;
    visibility: hidden !important ;
  }
  .searchBar_Wrapper {
    display: none !important;
  }
  .navItemsList {
    display: none !important;
  }
  .searchBar_Wrapper {
    width: 100% !important;
    justify-content: start !important;
  }
  .search-bar {
    width: 100% !important;
  }
}
