.separate_modal_content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.preview_box {
  border: 1px solid gray;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preview_box img {
  height: 90% !important;
}
.preview_box:hover {
  border: 2px solid #004b91;
  cursor: pointer;
}
.h-inherit {
  height: inherit !important;
}
@media (max-width: 900px) {
  .rightWrapper_modal {
    padding-right: 20px !important;
  }
}
.active_modalBorder {
  border: 2px solid #004b91 !important;
}
@media (max-width: 786px) {
  .modal-content {
    margin: 25px;
  }
}
