@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
.App {
  /* font-family: "Open Sans", Arial, sans-serif; */
  font-family: "Maven Pro", sans-serif;
}

a{
  text-decoration: none !important;
  color: inherit;
}

a:hover{
  color: inherit;
}
.accordionButton{
  background: white;
  /* border-color: darkgray; */
  border: 1px solid grey !important;
  color: black;
  padding:16px;
  border: 0;
  font-size: 22px;
}

.accordionButton:hover{
  background-color: white !important;
  background: none !important;
  color: black;
  padding:16px;
  border: 1px solid !important;
  box-shadow: 5px 10px #888888;
}
.accordionButton:focus{
  background-color: white !important;
  background: none !important;
  color: black !important;
}
.accordionButton:active{
  color: black !important;
}